body{
    font-family: 'Arial';
    background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(60,60,60,1) 100%);
    color: #fff;
    margin: 0;
    padding: 0;
}

#title-container{
    border: 1px solid #fff;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 40px;
}

#brand{
    display: block;
    margin: 0 auto;
    width: fit-content;
    letter-spacing: .5px;
    line-height: 30px;
    font-style: italic;
}

h1 {
    text-align: center;
    margin: 0px;
}

#trivia-questions{
    text-align: center;
    margin-top: 30px;
}