*{
    font-family: helvetica;
}

#clickerTitle{
    text-align: center;
    font-weight: bold;
}

#clickerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.animailContainer{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.brutalImg{
    width: 90%;
    margin: 0px 20px;
}

.clicksCountLabel{
    text-align: center;
}

#heienahClicks, #buffaloClicks{
    display: block;
}
